body {
  font-family: "Roboto Light", "Ubuntu Light", "Ubuntu", monospace;
  background-color: #0e0e0e;
  color: white;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
